@import "../../style/variables";

.task-container {
  width: 360px;
  height: 80px;
  padding: 20px 16px;
  background-color: $white;
  font-family: $font-primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.task-selected {
  box-shadow: inset 3px 0 0 $primary;
  background-color: $lightgray;
}

.task-btn {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-completed {
  border: none;
  background-color: $primary;
}

.text-completed {
  text-decoration-line: line-through;
}

.task-title {
  color: $black;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.task-subtitle {
  opacity: 0.8;
  color: $black;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.task-date {
  align-self: flex-start;
  opacity: 0.8;
  color: $mediumgray;
  font-size: 12px;
  font-weight: 400;
}

.task-wrapper {
  display: flex;
}
