@import "../../style/variables";

.btn {
  width: 148px;
  height: 42px;
  margin-right: 21px;
  padding: 7px 10px;
  box-shadow: 0 3px 10px #e4e8eb;
  background-color: $white;
  border-radius: 25px;
  border: none;
  outline: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $mediumgray;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1px dashed $mediumgray;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto medium";
  font-size: 16px;
  font-weight: 500;
}
