@import "../../style/variables";

.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: $white;
}

.show {
  width: 100%;
}

.hide {
  display: none;
}
