@import "../../../style/variables";

.delete-btn {
  padding: 9px;
  height: 32px;
  border-radius: 3px;
  background-color: $primary;
  border: none;
  outline: none;
  cursor: pointer;
  color: $white;
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
