//Colors
$primary: #e44c36;
$light-primary: rgba(228, 76, 54, 0.1);
$white: #fff;
$black: #292b2c;
$lightgray: #f7f8f9;
$mediumgray: #aeafaf;
$darkgray: #979797;

//Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto medium", sans-serif;

//Border
$default-border: 1px solid #e4e8eb;
