@import "../../style/variables";

.picker-container {
  width: 350px;
  height: 100%;
  background: $white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12),
    0 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}

.picker-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
}

.picker-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: $lightgray;
  color: $darkgray;
  font-family: $font-primary;
  font-size: 25px;

  &:hover {
    cursor: pointer;
    color: $black;
    font-weight: 500;
  }
}

.simple {
  font-size: 18px;
  align-items: center;
}

.header-content {
  display: flex;
  flex-flow: column wrap;
  font-family: $font-primary;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  color: $black;
  font-size: 16px;
}

.picker-month::first-letter {
  text-transform: uppercase;
}

.picker-year {
  font-weight: 300;
}

.calendar {
  width: 100%;
}

.days-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: $black;
  font-family: $font-primary;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 10px;
}

.week {
  display: flex;
}

.day {
  width: calc(100% / 7);
  height: 30px;
  margin: 9px;

  span {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-family: $font-primary;
    font-size: 14px;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: $lightgray;
      cursor: pointer;
    }
  }
}

.day span.selected {
  background-color: $primary;
}
.day span.disabled {
  cursor: default;
  color: $mediumgray;
  background-color: $white;
}
.day span.today {
  background-color: $light-primary;
}

.day span.before {
  cursor: default;
  &:hover {
    background-color: $white;
  }
}
