@import "../../style/variables";

.side-container {
  width: 360px;
  height: 100%;
  font-family: $font-primary;
}

.side-title {
  width: 100%;
  height: 60px;
  padding: 17px 21px;
  box-shadow: inset 0 -1px 0 $lightgray;
  background-color: $primary;

  h3 {
    color: $white;
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
  }
}

#todo-input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  box-shadow: inset 0 -1px 0 $lightgray;
  border: none;
  outline: none;
  padding: 16px 21px;
  color: $mediumgray;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: $font-secondary;

  &::placeholder {
    font-family: $font-secondary;
    color: $mediumgray;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
}

.todos-list {
  height: 73vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $mediumgray;
    border-radius: 5px;
  }
}
