@import "../../style/variables";

.counter-wrapper {
  width: 100%;
  height: 36px;
  background-color: $light-primary;
  margin-top: 7px;
  padding: 10px 8px 10px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: $primary;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 500;
}

.counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
