@import "../../style/variables";

.opt-container {
  width: 100%;
  height: 100%;
  background-color: $lightgray;
}

.opt-title {
  padding: 0px 36px 0px 26px;
  width: 100%;
  height: 60px;
  box-shadow: inset 0 -1px 0 #e4e8eb;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: $black;
    font-family: $font-primary;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }

  button {
    padding: 9px 17px 9px 9px;
    border-radius: 3px;
    border: $default-border;
    background-color: $white;
    color: $mediumgray;
    cursor: pointer;
    outline: none;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    img {
      margin-right: 8px;
    }
  }
}

.opt-content {
  padding: 21px 35px 21px 36px;
}

.btn-wrapper {
  display: flex;
}

.user-modal {
  margin-top: 6px;
  position: absolute;
  z-index: 1;
}
.date-modal {
  margin-top: 6px;
  position: absolute;
  z-index: 1;
  left: 570px;
}

.desc-container {
  width: 100%;
  height: 100%;
  margin-top: 27px;
  border-radius: 3px;
  border: $default-border;
  background-color: $white;
  overflow: hidden;
}

.text-area {
  width: 92%;
  height: 164px;
  margin: 0px 34px 14px 41px;
  outline: none;
  resize: none;
  border-radius: 2px;
  border: $default-border;
  padding: 14px;
  box-sizing: border-box;
  overflow: auto;
  opacity: 0.8;
  color: $black;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;

  &::placeholder {
    font-family: $font-secondary;
    color: $mediumgray;
    font-size: 16px;
    font-weight: 500;
  }
}

.desc-title-wrapper {
  margin: 17px;
  height: 24px;
  display: flex;
  align-items: center;
  align-self: flex-start;

  img {
    margin-right: 14px;
    height: 24px;
    width: 24px;
  }

  p {
    color: $black;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.desc-btn-wrapper {
  width: 100%;
  height: 60px;
  border-top: $default-border;
  padding: 14px 34px;
  display: flex;
  justify-content: flex-end;

  input {
    padding: 9px 21px;
    height: 32px;
    border-radius: 3px;
    background-color: $primary;
    border: none;
    outline: none;
    cursor: pointer;
    color: $white;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
