@import "../../style/variables";

.contact-container {
  width: 350px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12),
    0 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  background-color: $white;
  display: flex;
  flex-flow: column wrap;
}

.contact-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 13px;
  }
}

.contact-name {
  color: $black;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.contact-mail {
  opacity: 0.8;
  color: $mediumgray;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
}
